<div class="container" style="margin-top: 10px;">
    <table class="carrito-table" *ngIf="this.total > 0">
        <thead>
            <tr>
                <th class="green-bg">Producto</th>
                <th class="blue-bg">Precio</th>
                <th class="orange-bg">Cantidad</th>
                <th class="purple-bg">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of carrito">
                <td class="producto">{{ item.producto.nombre }}</td>
                <td class="precio">${{ item.producto.precio | showPrice}}</td>
                <td class="cantidad">
                    <div class="row">
                        {{ item.cantidad }}
                        <div class="botonRemove focusColorRemove" (click)="RemoveItem(item.producto)">-</div>
                        <div class="botonAdd focusColorAdd" (click)="AddItem(item.producto)">+</div>
                    </div>
                </td>
                <td class="total" style="display: flex; justify-content: start;">${{ item.producto.precio *
                    item.cantidad | showPrice}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td class="totalTotal" style="font-weight: bold;">Total: ${{ this.total | showPrice }}</td>
            </tr>
        </tfoot>
    </table>
    <h2 *ngIf="this.total <= 0" style="display: flex; justify-content: center;">El carrito esta vacio</h2>
</div>