.cuadroCrearProducto {
    border-image: linear-gradient(#d0ff00, #00ffff) 30;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    background: linear-gradient(#00000070, #00ffeacb);
    color: white;
}

.focusColor {
    color: white;
    transition: border-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.focusColor:focus{
    border: 2px solid #4ee91f;
}

.product-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}