.parentDiv {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.login-container {
    background: linear-gradient(to bottom, #6cf351, #00ffc8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px; /* Aumentado el relleno */
    max-width: 800px;
    text-align: center;
}

.login-container h2 {
    color: #333;
}

.row {
    margin-bottom: 30px; /* Aumentado el margen inferior */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row label {
    flex: 1;
    text-align: right;
    margin-right: 15px; /* Aumentado el margen derecho */
    color: #555;
}

.input {
    flex: 2;
    padding: 15px; /* Aumentado el relleno */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff70;
    width: 100%;
}

.row input[type="text"],
.row input[type="password"],
.row input[type="date"],
.row input[type="number"] {
    flex: 2;
    padding: 15px; /* Aumentado el relleno */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff70;
    width: 100%;
}

.row input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.row input[type="button"]:hover {
    background-color: #0056b3;
}