<div style="display: flex;">
    <div class="col-2" style="background-color: rgba(0, 255, 21, 0.452); width: 250px; padding: 20px;">
        <button class="btn btn-info" style="width: fit-content; color: white" (click)="CrearProducto()">+ Crear producto</button>
    </div>

    <div style="flex-grow: 1;">
        <div class="row" style="padding: 5px; overflow-x: hidden; width: 100%;">
            <div class="col-12 justify-content-center d-flex">
                <h2>Productos</h2>
            </div>
        </div>
        
        <h2 class="justify-content-center d-flex" *ngIf="listaProductos.length != 0">No hay productos dados de alta</h2>
        
        <div class="container mb-4">
            <div class="row">
                <div *ngFor="let producto of this.listaProductos" class="col-2">
                    <app-producto [producto]="producto" 
                    (eliminar)="EliminarProducto(producto)" 
                    (modificar)="ModificarProducto(producto.id)"
                    (addItemToCart)="AddToCart(producto)"></app-producto>
                </div>
            </div>
        </div>
    </div>
</div>