<div class="contenedor">
    <div class="cuadro">
        <div class="containerImagen">
            <a href="https://github.com/Santiago135">
                <img class="imagen" src="https://avatars.githubusercontent.com/u/75585337?v=4" alt="Oso polar de Coca Cola" />
            </a>
        </div>
        <div class="descripcion">
            Bienvenido a "NeoMart", la revolución del comercio electrónico en un mundo ciberpunk. 
            En NeoMart, te adentrarás en un universo futurista donde la tecnología de vanguardia y 
            la estética ciberpunk se fusionan para brindarte una experiencia de compra única. Nuestro 
            catálogo incluye desde moda y accesorios futuristas hasta dispositivos cibernéticos y gadgets 
            de última generación. Sumérgete en nuestro sitio web con una interfaz holográfica de neón, 
            donde podrás descubrir una amplia variedad de productos exclusivos y de alta calidad. En NeoMart, el futuro es ahora.
        </div>
        <div style="padding-bottom: 8px;">
            <a href="https://github.com/Santiago135" class="btn btn-light">Visitar Perfil</a>
        </div>
    </div>
</div>